#root{
  background-color: #f5f5f5;
  
}
*{
  font-family: 'Montserrat';
  font-weight: 800;
}
.color-fondo{
  background-color: #cfcfcfcf;
  height: 100vh;
}

.color-seccion{
  background-color: white;
  border-radius: 15px;
  border: #464646 solid 1px;
}
.App {
  text-align: center;
}
.content{
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}





.logo-letras{
  overflow: hidden;
  height: 90px;
  width: 100%;
  background-image: url('./assets/logo.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: none;
  margin-bottom: 150px;
}

.logo-aifa{
  overflow: hidden;
  height: 300px;
  width: 500px;
  background-image: url('./assets/aifa-sin-fondo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.letras-aifa{
  height: 250px;
  width: 1000px;
  background-image: url('./assets/letras.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.degradado {
  background: linear-gradient(#0d414e, #165268) !important;
  border: none !important;
  border-radius: 0px !important;
}

.p-menuitem-text{
  color: white !important;
}

.p-menuitem-icon{
  color: white !important;
}

.p-menuitem-text:hover{
  color: #6c757d !important;
}

.p-menuitem-icon:hover{
  color: #6c757d !important;
}

.alert{
  background-color: #ee3737;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
}

.tamanio-graficas{
  height: 150px !important;
}



.p-0.tamanio-columnas {
  height: 75vh !important;
}

.tamanio-columnas-abajo {
  height: 25vh ;
}

.tamanio-panelc{
  height: 80vh !important;
}

@media (max-width: 1700px) {
  .letras-aifa{
    height: 200px;
    width: 700px;
  }
  .logo-aifa{
    height: 200px;
    width: 400px;
  }
}

@media (max-width: 1180px) {
  .letras-aifa{
    height: 150px;
    width: 550px;
  }
  .logo-aifa{
    height: 150px;
    width: 300px;
  }
}

@media (max-width: 940px) {
  .letras-aifa{
    height: 100px;
    width: 300px;
  }
  .logo-aifa{
    height: 100px;
    width: 200px;
  }
}
@media (max-width: 940px) {
  .logo-letras{
    display: block;
  }
  .ocultar-logos{
    display: none;
  }
}




.logo-aeromexico{
  height: 40px;
  width: 100px;
  /*background-image: url('./assets/aeromexico-logo.png');*/
  background-repeat: no-repeat;
  background-size: 100% 100%;

}


.contenedor {
  position: relative;
}

.hijo {
  background-color: red;
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
}

.borde-division{
  border-right: #b43c3c solid;
  height: 50%;
}

body {
  font-family: (--font-family);
}          

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-pasajeros:enabled:hover, .btn-pasajeros:not(button):not(a):not(.p-disabled):hover{
  background: #165268 ;
  border-color: #165268 ;
}
.btn-pasajeros{
  background: #0d414e;
  border-color: #0d414e;
}

.swal2-html-container{
  font-weight: 900 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
  font-weight: 800 !important;
}

.contenedor-cantidad{
  background-color: #468284 !important;
  color: #fff !important;
}